* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* BACKGROUND PRINCIPALI */
#top-background {
  width: 100vw;
  height: 100px;
  background-color: #009688;
  display: flex;
  justify-content: center;
  position: relative;
}

#bottom-background {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #DADBD3;
}

/* BLOCCO PRINCIPALE */
main {
  width: 80vw;
  height: calc(100vh - 40px);
  position: absolute;
  top: 20px;
}

/* HEADER */
header {
  height: 50px;
  background-color: #EEEEEE;
  display: flex;
  flex-wrap: wrap;
}

  /* Header lato UTENTE */
  #utente {
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .foto-utente {
    display: flex;
    align-items: center;
  }

  .foto-utente img {
    height: 40px;
    border-radius: 100%;
  }

  .icone-utente {
    display: flex;
    align-items: center;
  }

  .icone-utente img {
    height: 40px;
  }

  /* Header lato CONTATTO-ATTUALE */
  #contatto-attuale {
    height: 100%;
    width: calc(100% - 350px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-left: solid 1px #CCCCCC;
  }

  .contatto-utente {
    display: flex;
    align-items: center;
  }

  .contatto-utente img {
    height: 40px;
    border-radius: 100%;
    margin-right: 20px;
  }

  .stato-contatto p {
    color: #A1A1A1;
    font-size: 0.8em;
  }

  .icone-contatto-utente {
    display: flex;
    align-items: center;
  }

  .icone-contatto-utente img {
    height: 40px;
  }


/* "BLOCCONE" è tutto ciò che sta al di sotto dell'header */
#bloccone {
  height: calc(100% - 50px);
  display: flex;
  flex-wrap: wrap;
}

/* ASIDE - elenco chat */
aside {
  height: 100%;
  width: 350px;
}

  .alert-notifiche {
    width: 100%;
    height: 60px;
    background-color: #9DE1FE;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .alert-notifiche img {
    height: 50px;
    margin-right: 20px;
  }

  .cerca-contatti {
    width: 100%;
    height: 50px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .cerca-contatti-in {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
  }

  .cerca-contatti-in img {
    height: 30px;
    margin: 0 20px 0 10px;
  }

  .cerca-contatti-in input {
    width: 100%;
    margin-right: 10px;
    font-size: 1em;
    border-style: inset;
    border-width: 0;
  }

  .cerca-contatti-in input:focus {
    outline: none;
  }

  /* Contatti in rubrica */
  .rubrica-contatti {
    width: 100%;
    height: calc(100% - 110px);
    /* 110px = height .alert-notifiche + .cerca-contatti */
    background-color: #fff;
    overflow: auto;
  }

  .contatto {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .contatto:hover {
    background-color: #CCCCCC;
    cursor: pointer;
  }

  .contatto img {
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
  }



/* CHAT in corso e inserimento messaggi */
#blocco-messaggi {
  height: 100%;
  width: calc(100% - 350px);
  display: flex;
  flex-wrap: wrap;
}


section {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
  background-image: url(img/chat-backgroung.png);
}


/* FOOTER cioè Sezione Immissione Messaggio */
footer {
  width: 100%;
  height: 50px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  footer img {
    height: 40px;
    margin: 0 10px;
  }

  footer input {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    font-size: 1em;
    border-style: inset;
    border-width: 0;
    border-radius: 20px;
  }

  footer input:focus {
    outline: none;
  }
